@import url("https://fonts.googleapis.com/css2?family=Abel&family=Anek+Odia:wght@200&family=Dosis:wght@400;700&family=Slabo+27px&display=swap");
:root {
    --black: #151515;
    --green: #4ee1a0;
    --dark-gray: #242424;
    --gray: #d9d9d9;
    --white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
    font-weight: lighter;
}

body {
    background: rgb(27, 27, 27);
    color: #fff;
    font-size: 18px;
    line-height: 1.56;
}

.divider {
    width: 80%;
    margin: 0 auto;
}

a {
    color: #fff;
    text-decoration: none;
}

button {
    max-width: 180px;
    padding: 15px 20px;
    font-size: 18px;
    margin: 1rem auto;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    border-bottom: 4px solid var(--green);
    margin-right: 15px;
    cursor: pointer;
}

.profile {
    width: auto;
    border-radius: 8px;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.header_nav {
    display: flex;
    flex-wrap: wrap;
    flex: column;
    justify-content: center;
    text-align: center;
    gap: 20px 25px;
    margin: 30px 0;
}

.header_logo {
    font-size: 1.5rem;
    flex: 1 0 100%;
}

.header__social {
    display: inline-block;
}

main h1,
p {
    padding: 0 15px;
    text-align: center;
    padding: 20px 0;
}

main p {
    padding: 0 20px;
    margin-bottom: 2.4rem;
    font-size: 15px;
}

main .wrapper {
    display: flex;
    flex-direction: column-reverse;
}

main .hero h1 {
    padding: 0 30px;
    margin-bottom: 20px;
    font-family: "Slabo 27px", serif;
    font-weight: bold;
}

main .hero span {
    font-family: "Slabo 27px", serif;
    font-weight: bold;
    border-bottom: 8px solid var(--green);
}

main .profile {
    width: auto;
    margin: 0 50px;
}

main .hero a {
    display: none;
}

.skill {
    text-align: center;
}

.skill h1 {
    font-size: 32px;
    font-weight: bold;
}

.skill p {
    font-size: 15px;
}

.projects .portfolio-proj img {
    width: 310px;
    margin-top: 20px;
    border-radius: 8px;
}

.projects h1 {
    padding: 0 30px;
    font-size: 2.5rem;
    font-weight: bold;
}

.projects .all-proj {
    margin: 0 auto;
    text-align: center;
}

.projects .all-proj p {
    font-size: 25px;
}

.projects .lang {
    display: flex;
    justify-content: center;
}

.projects .lang p {
    margin-right: 5px;
    font-size: 22px;
    color: var(--green);
    margin-left: 20px;
}

.contact {
    background: #333;
    height: 80vh;
    padding: 30px;
}

.contact h1 {
    padding: 0 10px;
    font-size: 2.5rem;
    font-weight: bold;
}

.contact .wrapper {
    display: flex;
    flex-direction: column;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: auto;
}

.contact form input,
textarea {
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(231, 231, 231);
    color: #fff;
    font-size: 17px;
}

.contact ::placeholder {
    color: rgba(210, 205, 205, 0.872);
}

.contact a {
    width: 100%;
    max-width: 100px;
    border-bottom: 4px solid var(--green);
    margin-bottom: 2rem;
    margin-left: 13rem;
}

.footer {
    background-color: #333;
    height: 200px;
    padding: 3rem 0;
}

.footer .wrapper {
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.footer h2 {
    font-size: 37px;
    font-weight: bold;
    font-family: "Abel", sans-serif;
}

.footer .contact-link a {
    margin-right: 1rem;
}

.last {
    width: auto;
    padding: 0 30px;
    background-color: #333;
}

@media (min-width: 600px) {
    .divider {
        width: 100%;
        margin: 10px 0;
        color: #d9d9d9;
    }
    .wrapper {
        width: calc(100% - 3.75rem);
    }
    .header_nav {
        justify-content: flex-start;
        text-align: left;
        gap: 32px;
    }
    .header_logo {
        flex: 1;
        max-width: 250px;
        margin-inline-end: auto;
        font-size: 30px;
        font-weight: bold;
        font-family: "Abel", sans-serif;
    }
    .header_logo:hover {
        color: var(--green);
    }
    .header_nav a img:hover {
        color: var(--green);
    }
    main {
        margin: 8rem 0;
        /* height: 74vh; */
    }
    main h1,
    p {
        padding: 0;
        text-align: justify;
    }
    main p {
        font-size: 20px;
        margin: 2rem 0;
        line-height: 2.8rem;
        padding: 0;
        font-family: "Anek Odia", sans-serif;
    }
    main .hero h1 {
        font-size: 3.2rem;
        padding: 0;
    }
    main .wrapper {
        flex-direction: row;
        gap: 1rem;
    }
    main .profile {
        width: 335px;
        box-shadow: 0 15px 30px rgba(255, 255, 255, 0.1);
    }
    main .hero {
        padding: 0 30px;
    }
    main .hero a {
        display: block;
        max-width: 5rem;
        border-bottom: 4px solid var(--green);
    }
    .skill {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, 140px);
        text-align: justify;
        padding: 0 3rem;
    }
    .skill h1:hover {
        color: var(--green);
    }
    .skill h1 {
        font-size: 2.6rem;
        font-weight: lighter;
    }
    .skill p {
        font-weight: bold;
        font-family: "Anek Odia", sans-serif;
    }
    .projects {
        margin-bottom: 3rem;
    }
    .projects h1 {
        font-size: 50px;
        font-family: "Abel", sans-serif;
        font-weight: bold;
        padding-left: 0.6rem;
        margin-top: 3rem;
    }
    .projects .all-proj p {
        text-align: center;
        letter-spacing: 0.2rem;
        font-size: 20px;
    }
    .projects .lang p {
        font-size: 18px;
        font-weight: bold;
    }
    .projects .portfolio-proj img {
        width: 80%;
        max-width: 500px;
    }
    .projects .all-proj {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 360px);
    }
    .contact {
        height: 50vh;
    }
    .contact .wrapper {
        flex-direction: row;
        gap: 10rem;
    }
    .contact .left {
        flex: 1;
        padding-left: 10px;
        max-width: 500px;
    }
    .contact h1 {
        font-size: 50px;
        font-family: "Abel", sans-serif;
        font-weight: bold;
        margin-top: 3rem;
    }
    .contact .left p {
        padding: 0 20px;
        font-size: 20px;
        font-family: "Anek Odia", sans-serif;
    }
    .contact .right {
        margin-top: 25px;
        margin-left: 30px;
    }
    .contact a {
        margin-left: 18rem;
    }
    .contact form input,
    textarea {
        padding: 15px;
        width: 400px;
        border-bottom: 2px solid rgba(113, 110, 110, 0.874);
    }
    .contact form textarea {
        height: 100px;
    }
    .footer .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer {
        height: 210px;
        padding-top: 4rem;
    }
    .footer h2 {
        font-size: 30px;
        font-weight: bold;
        font-family: "Abel", sans-serif;
    }
    .footer .contact-link a {
        margin-right: 2.3rem;
    }
}